label {
  padding-bottom: 48px;
  font-weight: bolder;
}

thead {
  text-align: center;
}

tbody {
  padding: 0.1rem;
  text-align: center;
}

.padding {
  padding: 1rem;
}

.center {
  text-align: center;
}


.loginDetails {
  float: right;
}

.logoutButton {
  margin-left: 12px;
}

.editIcon {
  margin-left: 12px;
}

h3 {
  padding: 1rem 0 1rem;
  text-align: center;
}